* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}
#flower {
    display: none;
}